%section.settings.as-snowplow.no-animate#js-snowplow-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      Snowplow
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Configure the %{link} integration.').html_safe % { link: link_to('Snowplow', 'https://snowplowanalytics.com/', target: '_blank') }
  .settings-content

    = form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
      = form_errors(@application_setting)

      %fieldset
        .form-group
          .form-check
            = f.check_box :snowplow_enabled, class: 'form-check-input'
            = f.label :snowplow_enabled, class: 'form-check-label' do
              Enable Snowplow
        .form-group
          = f.label :snowplow_collector_hostname, 'Collector Hostname', class: 'label-light'
          = f.text_field :snowplow_collector_hostname, class: 'form-control', placeholder: 'snowplow.example.com'
        .form-group
          = f.label :snowplow_site_id, class: 'label-light' do
            Site ID
          = f.text_field :snowplow_site_id, class: 'form-control'
        .form-group
          = f.label :snowplow_cookie_domain, class: 'label-light' do
            Cookie domain
          = f.text_field :snowplow_cookie_domain, class: 'form-control'

      = f.submit 'Save changes', class: 'btn btn-success'
